
{% extends 'base.html' %}
{% block content %}
<div class="container">

<h2 class="section-title">💼 Professional Experience</h2>

<div class="card">
<h3>Student at GFGC Ynk at BLR</h3>
<p>Developed Student management system,Bank Statement,expense tracker,.</p>
<p>Also contributed to e-commerce features, database design and API Development.</p>
</div>

<div class="card">
<h3>Python Developer</h3>
<p>Built multiple real-world systems including LMS,Student management system,Bank Statement, weather app</p>
</div>

</div>
{% endblock %}
