
{% extends 'base.html' %}
{% block content %}
<div class="container">

<h2 class="section-title">🚀 Live Projects</h2>

<div class="card">
<ul style="font-size:18px; line-height:2;">
<li><a href="https://mohan-eyeo.onrender.com/" target="_blank">portfolio website </a></li>
<li><a href="#" target="_blank">Student management system</a></li>
<li><a href="#" target="_blank">expense tracker</a></li>
<li><a href="#" target="_blank"> calculator</a></li>
<li><a href="#" target="_blank"> E-Commerce Platform</a></li>
</ul>
</div>

<h2 class="section-title">🛠️ Projects To Be Added Soon</h2>

<div class="card">
<ul style="font-size:18px; line-height:2;">
<li>Student Management System</li>
<li>Online Fee Management System</li>
<li>Attendance Tracking System</li>
<li>Weather App + API</li>
</ul>
</div>

</div>
{% endblock %}
